<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">RLL Project: Online Banking</h4>
      <span class="text-muted">Developed By Group 5</span>
    </div>
  </div>

<nav class="navbar navbar-dark bg-dark" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid" style="background-color:white;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/login" routerLinkActive="active" style="color: rgb(0, 0, 0);">Admin Portal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"   *ngFor="let user of userList">
        
        <li [style.display]="getDisplay()"><a routerLink="/userAccount" routerLinkActive="active" style="color:black;font-size:20px;"> User Account <span class="sr-only">(current)</span></a></li>
        
          
        <li [style.display]="getDisplay()"><a routerLink="/chequeBookRequest" routerLinkActive="active" style="color: black"> Cheque Book Requests <span class="sr-only">(current)</span></a></li>
        <li [style.display]="getDisplay()" (click)="onSelectPrimary(user.primaryAccount.accountNumber)">
          <a  routerLinkActive="active" style="color:black;cursor: pointer;"> Primary Transaction Report <span class="sr-only">(current)</span></a></li>
       

          <li [style.display]="getDisplay()" (click)="onSelectSavings(user.savingsAccount.accountNumber)">
          <a  routerLinkActive="active" style="color: black;cursor: pointer;"> Savings Transaction Report <span class="sr-only">(current)</span></a></li>
        
        
          <li [style.display]="getDisplay()">
          <a routerLink="/loanRequest" routerLinkActive="active" style="color: black;"> Loan Requests <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [style.display]="getDisplay()"><a (click)="logout()" style="cursor: pointer;" style="color: black;">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
