.jumbotron {
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    
}

.profile .card-header {
    font-size: 2em;
    text-align: center;
    padding: 0%;
}

h5 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.card-header {
    color: rgb(0, 0, 0);
    background-color: #90e0ef;
    width: 910px;
    padding: 10px;
    margin: 0;
    border-radius:20px;
}

.a {
    width: 850px;
    padding: 10px;
    border: 1px solid rgb(206, 206, 206);
    margin: 0;
}