<div class="container">
    <div class="jumbotron ">
        <div class="container">
        <div class="card-header">
            <h5 class="card-title"><b>Saving Account Details</b></h5>
        </div>
        </div>
        <br>
    
        <div>
            <p class="card-text"><b>Saving Account Number :</b> </p>
            <div class="a">{{acocuntNumber}}</div>
        </div>
        <br>
        <div>
            <p class="card-text"><b>Account Balance :</b></p>
            <div class="a">{{balance}} Rs</div>
        </div>
    
    </div>
    </div>